.grid-container{
    display: grid;
  grid-template-columns: 33% 33% 33%;
}

.App{
    width: 60%;
    margin: auto;
}

.grid-item{
    margin: 20px;
    box-shadow:0px 0px 2px 4px rgb(186, 179, 179);
    padding: 10px;
}

.foodTitles{
    display: flex;
    justify-content: space-between;
}

.category{
    margin: 5px;
    text-align: center;
}

.category button{
    margin: 8px;
}